:root {
    --primary-color: #25B15D;
}

.select2-container--classic .select2-selection--multiple .select2-selection__rendered li .select2-search__field, .select2-container--default .select2-selection--multiple .select2-selection__rendered li .select2-search__field {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
}

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 0.7rem;
    margin-left: 0.5rem
}

.overlay {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all .2s ease;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asset-container:hover .overlay {
    opacity: 1;
    cursor: move;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 0;
    width: 0;
    height: 0;
    margin-top: unset;
    margin-left: unset;
    /* opacity: 0; */
    background: unset;
    background: unset;
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid var(--primary-color);
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.relative {
    position: relative;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    height: unset;
}

.contents-wrapper, .evaluation-items-wrapper, .levels-wrapper {
    min-height: 40vh;
}

.exams-wrapper {
    min-height: 20vh;
}

.single-content p, .single-content h5 {
    line-height: 1.5;
}

.absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-btn {
    /* Basic reset */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;
}

/* Reset for Firefox */
.reset-btn::-moz-focus-inner {
    border: 0;
}

/* Reset for active state */
.reset-btn:active {
    background: none;
    color: inherit;
}

/* Reset for focus state */
.reset-btn:focus {
    outline: none;
    box-shadow: none;
}

.loader-md {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid var(--primary-color);
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-sm {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--primary-color);
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader-xs {
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    border-top: 4px solid #fa935b;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.card-header .btn {
    padding: 0.486rem 1rem !important;
}

.modal-body {
    min-height: 150px;
}


/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-header .btn {
    padding-left: 0px;
    padding-right: 0px;
}

.header-navbar .navbar-container ul.navbar-nav li.dropdown-user .dropdown-menu {
    width: 15rem;
}

.jstree-anchor {
    font-size: 15px;
    margin: 5px 10px;
}

.jstree-default.jstree-rtl > .jstree-no-dots .jstree-open > .jstree-ocl,
.jstree-default.jstree-rtl > .jstree-no-dots .jstree-closed > .jstree-ocl {
    margin: 5px 0px;
}


.jstree-wholerow .jstree-loading,
.jstree-default .jstree-loading {
    position: relative;
    color: transparent; /* Hide default text */
    text-indent: -9999px; /* Hide default text */
}

.jstree-wholerow .jstree-loading:after,
.jstree-default .jstree-loading:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
    border: 2px solid #fff;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.jstree-default .jstree-wholerow {
    height: 35px;
}

.highlight {
    background: yellow;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    padding: 5px 10px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #f1f1f1;
}

.context-menu-item {
    display: block;
    width: 100%;
}

.sortable-placeholder {
    height: 100px; /* adjust to match your .single-content height */
    border: 1px dashed #ccc;
    background-color: #f0f0f0;
    width: 100%;
    /* Ensure margins/padding match your actual items */
}

.hide-important {
    display: none !important;
}